* {
    line-height: 1.5;
}
.block, blockquote {
  background-color: #eee;
  padding: 6pt;
  margin: 6pt 0 6pt;
  border-radius: 4pt;
  overflow: hidden;
}

.footnotes {
  font-size: 80%;
}

th {
  text-align: left;
}

th,
td {
  padding: 2pt;
}

button {
  border: none;
}

blockquote {
    font-style: italic;
    margin-left: 20pt;
}
