.copy {
    float: right;
    border: 0;
    border-radius: 3px;
    margin: 0.25em;
    opacity: 0.3;
}

.copy:hover {
    opacity: 1;
}

.code {
    text-align: left;
    margin: 1em 0;
    padding: 0.5em;
    overflow-x: auto;
    border-radius: 5px;
}


.code * {
    font-family: 'Courier New', Courier, monospace;
}
