* {
    font-family: "Ubuntu", "Open Sans", "Sans";
    line-height: 1.3;
}

/* @media all and (max-width: 600px) {
    font-size: 1.0vw;
} */

body {
    margin: auto;
    max-width: 600pt;
    padding: 10pt;
}

img {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 20vw;
}

a {
    color: #01008a;
    text-decoration: none;
}

.header {
    padding: 5pt;
    border-bottom: solid maroon;
    overflow: hidden;
}

.header h1 {
    margin: 0;
}

.header button {
    margin-right: 5pt;
}

footer {
    text-align: right;
    font-size: 80%;
    border-top: 1pt solid maroon;
    margin-top: 15pt;
}